.for_footer_bg {
  background-color: #000000;
  width: 100%;
  height: 250px;
}

.footer_one_bg {
  margin-top: 30px;
}

.footer_one_bg img {
  text-align: center;
  width: 60px;
}

.footer_one_bg p {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 27px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.footer_one_bg h2 {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.footer_one_bg span {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.for_footer_icon_fb i {
  font-size: 24px;
  word-spacing: 30px !important;
  color: #999999;
}
.for_footer_icon_fb span {
  word-spacing: 20px;
}
.fa-twitter {
  margin-left: 20px;
}
a {
  text-decoration: none;
}

.for_last_footer_bg {
  background: #212121;
  width: 100%;
}

.for_last_footer_bg p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: #999999;
  padding-top: 20px;
}
